*{
    margin:0px;
    padding:0px;
    border:0px;
}

#box1{
    max-width: 800px;
    margin: 0px auto;
    background-color:#b4b4b4;
    padding:20px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    border: 5px solid #b4b4b4;
    font-size: 20px;
}
#box1 input{
    padding: 5px 50px;
    text-align: center;
}

#box2{
    border: 5px solid #b4b4b4;
    border-top:0px;
    padding:20px;
        max-width: 800px;
    margin: 0px auto;
    font-family: 'Oswald', sans-serif;

}

#box2 li span.delete input{
    padding:5px 20px;
    background-color:mediumpurple;
    color:white;
    float:right;
    margin-left:
}

#box2 .header{
    text-align:center;
    font-size:25px
}
#box2 input[type="button"]{
    color:white;
    background-color:mediumpurple;
    padding:5px 20px;
}

#box2 input[type="text"]{
 padding:5px 20px;
    margin-right:20px;
    border: 2px solid grey;
}

#box2 li{
    list-style: none;
    margin-left: 20px;
}

#box2 p.link {
    padding: 20px;
    text-align: center;
    color: #0e0ea0;
    text-decoration: none;
    font-size: 50px;

}

#box2 p.link a{

    text-decoration: none;
    color:black;
}

form#add-book {

    text-align: center;
    margin-top: 12px;
}

#box2 .hidebox{

    text-align: center;
    }

#tabbed-content li{
  display:inline-block;
  padding: 10px 14px;
  background: #ddd;
  border-radius:4px;
  cursor: pointer;
  margin-top: 10px;
}

#tabbed-content .panel{
  display:none;
  border:1px solid #ddd;
  padding:0 10px;
  border radius:4px;
  margin :20px;
}

#tabbed-content .active{
  display: block;
}

#tabbed-content .none{
  display: none;
}
